.button {
    background-color: #fc6b68;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 0.9rem;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
}